table,
tr,
th,
td {
    border: 1px solid black;
    border-radius: 16px;
}

table {
    /* border-collapse: separate; */
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 2rem;

}

td,
th {
    padding: 1rem;
}

tr {
    background-color: gainsboro;
}

tr:nth-child(2) {
    background-color: red;
}

tr:nth-child(odd) {
    background-color: aquamarine;
}

tr:nth-child(even) {
    background-color: blue;
}

caption {
    padding-block: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}