body{
    background-color: black;
    color: white;
}


th,
td {
    border: 1px rgb(38, 222, 176) solid;
    border-radius: 10px;
    padding: 2rem;
}
table{
    margin: 4rem;
    width: 500px;
    /* height: 500px; */
}