body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

h1,
p {
    font-size: smaller;
}

th,
td {
    border: 1px rgb(38, 222, 176) solid;
    border-radius: 10px;

}

th {
    background-color: rgb(38, 222, 176);
    font-size: large;
}

.oradiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-inline: 4px;

}
p {
    grid-column: 2;
}

.sorszamdiv {
    background-color: rgb(38, 222, 176);
    border-radius: 10px;
    grid-row: 1/3;
    display: inline;
    text-align: center;
}

table {
    border-spacing: 1rem;
}