body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: smaller;

}

th,
td {
    border: 1px rgb(38, 222, 176) solid;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;

}

th {
    height: 4rem;
    margin-bottom: 1rem;
}

td {
    height: 3rem;

}

table {
    border-spacing: 1rem;
}