table,
tr,
th,
td {

}
table{
    border-collapse: collapse;
    width: 30rem;
    height: 30rem;
    margin: auto;
    margin-block: 10rem;
        border: 1px solid black;
}
th,td{
    padding: 2rem;
}
th:nth-child(odd){
    background-color: black;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}