table,
tr,
th,
td {
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 30rem;
    height: 30rem;
    margin: auto;
    margin-block: 10rem;
}
th:nth-child(odd){
    background-color: black;
}